<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee List</title>
</head>

<body>
	<h1>Filter Employees</h1>
	<form action="#" th:action="@{/employees}" method="get">
		<label for="directorate">Directorate:</label>
		<input type="text" id="directorate" name="directorate"><br>
		<label for="department">Department:</label>
		<input type="text" id="department" name="department"><br>
		<label for="service">Service:</label>
		<input type="text" id="service" name="service"><br>
		<label for="division">Division:</label>
		<input type="text" id="division" name="division"><br>
		<label for="position">Position:</label>
		<input type="text" id="position" name="position"><br>
		<button type="submit">Filter</button>
	</form>

	<h1>Employee List</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Directorate</th>
			<th>Department</th>
			<th>Service</th>
			<th>Division</th>
			<th>Position</th>
		</tr>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.id}"></td>
			<td th:text="${employee.name}"></td>
			<td th:text="${employee.email}"></td>

			<a th:href="@{/employees/download}">Download CSV</a>